@import url('https://fonts.googleapis.com/css2?family=Barlow');
*{
    box-sizing: border-box;
    /* background-color: #24252a; */
    margin: 0;
    padding: 0;
    font-family: "outfit", sans-serif;
    /* color: #000000; */
}
body{
    background-color: white;
}
li,a{
    text-decoration: none;
    list-style: none;
    color: #edf0f1;
    font-weight: 500;
    font-size: 1.2 rem;
    padding: 0 0.2rem;
    font-family: Barlow, "Outfit", sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* align-content: center; */
    padding: 0.3rem 2rem 0rem;
    background-color: #020b1f;
}
.logo{
   cursor: pointer;
   padding-bottom: 0rem;

}
.nav__links{
    list-style: none;
}
.nav__links li{
    display: inline-block;
    padding: 1rem 1rem;
}
.nav__links li a{
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
    color: #0088a9;
}
section{
    padding: 0.5rem;
}
#footer-copyright-section{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 0.5rem;
}
.project-title{
    padding: 0.5rem 2rem;
    background-color: rgb(9, 48, 79);
    color: white;
}
#project{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background-color: rgb(9, 48, 79);
}
#services{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background-color: rgb(214, 214, 214);
}

/* contact  */
#contact{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    /* background-color: rgb(9, 48, 79); */
}
.contact-form_inside{
    width: 70%;
    /* height: 100%; */
    background-color: rgb(9, 48, 79);
    border-radius: 2%;
    
    box-shadow: #000000;
}
.contact-form_inside label{
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 300;
}
.contact-form_inside form{
    width: 100%;
    padding: 1.5rem 2rem;
}
input[type=submit]{
    background-color: #986100;
    color: white;
    font-size: larger;
    padding: 0.3rem;
    margin-top: 1rem;
    border-radius: 0.4rem;
    width: 100%;
}
input[type], textarea{
    border-color: #333333;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

/* about me */
.socialmedia i{
    color:#000001;
    font-size: 50px;
    padding: 20px;
   justify-content: center;
    transition: 0.7s;
}
.socialmedia i:hover{
    color:rgb(161, 111, 5);
}
